
button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}
.back-video{
  width: 100%;
 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -6; 
  
}

.back-video video{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.showBox {
  position: relative;
  margin-top: -30px;
}
.showBox p {
  position:absolute;
  margin-left: 7%;
  font-size: 23px;
 margin-top: 48px;
 
}
.showBox p:first-child {
  animation: show 3s infinite;
}
.delay {
  opacity: 0;
  animation: show 3s 1.5s infinite;
  color:red;
}
@-webkit-keyframes show {
  0% {opacity: 0;}
50%{opacity: 1;}
80% {opacity: 0;}
  100% {opacity: 0;}
} 
/* Standard syntax */ 
@keyframes show {
  0% {opacity: 0;}
 50%{opacity: 1;}
 80% {opacity: 0;}
   100% {opacity: 0;}
 }
 


  