

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Koulen&family=Merriweather:wght@300&family=Oleo+Script+Swash+Caps&family=Pacifico&family=Poppins:wght@400;600&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@100&family=Satisfy&family=Teko:wght@300&display=swap" rel="stylesheet">
<section class="mt-4 container-fluid hero  ">
  <div class="container  ">
      <div class="row letters  ">
          <div class="col-md-12 py-5 mt-5  w-auto">
         <h1 class="image-h1  mt-5-md py-4-md  mt-5-lg  py-4-lg text-center" style="margin-right: 80%;">Get Up<br>Dress Up <br>Show Up</h1>
         <h4 class="image-h4 mt-4-md py-2-md">Deliverd to your Doorstep</h4>
         <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0 " style="background-color: #ff5e14; width:250px ; z-index: 15">SHOP</button>
          </div>
      </div>
  </div>
</section>

<!------------backvideo------------>
<div class="back-video  ">
  <video  autoplay loop muted plays-inline   class="od-VideoCanvas-video">
      <source src="../../../../assets/home pic/pexels-karolina-grabowska-5743177.mp4" type="video/mp4" width="100%" >
  </video>
</div>

    <!--------------upper cards---------->
   <div class="card bg-dark g-2" style="margin-top: 120px;">
  <h1 class="mt-5 text-center " style="font-family: 'Teko', sans-serif; color: white; " ><span style="color: #ff5e14;" >HOLA</span> &nbsp;VERANO</h1>
  <h2 class="text-center mt-3" style="color: white;">NEW LAWN ARRIVAL</h2>
  <div class="container ">
    <div class="row row-cols-1 row-cols-md-3 g-3 ">
     
      <div class="col ">
        <div class="showBox">
          <p>Sale<p>
          <p class="delay">PKR 4,868<p>
        </div>
        <div class="card "  style="margin-top:80px ;">
          <img src="../../../../assets/home pic/dress1.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">KURTA PAJMA</h5>
            <p class="card-text">3PC Digital Printed Cambric Suit With Lawn Dupatta IPS-22-55 Dp
              SKU W-AP-22-314012 -P
              IN STOCK<br>PKR 4,868 PKR <del style="color: red;">6,490</del>
            </p>
            <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0 btn-11  " style="background-color: gray; width:210px ; z-index: 15;">SHOP</button>
        </div>
      </div>
      </div>
      
         
      <div class="col">
        <div class="showBox mt-1">
          <p>Sale<p>
          <p class="delay">PKR 4,868<p>
        </div>
      
        <div class="card "  style="margin-top:90px ;">
          <img src="../../../../assets/home pic/dress2.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BLUE KURTA</h5>
            <p class="card-text">3PC Digital Printed Cambric Suit With Lawn Dupatta IPS-22-55 Dp
              SKU W-AP-22-314012 -P
              <br>PKR 4,868 PKR <del style="color: red;">6,490</del>
            </p>
            <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0 btn-11  " style="background-color: gray; width:210px ; z-index: 15;">SHOP</button>
        </div>
        </div>
      </div>
       

      
      <div class="col ">
        <div class="showBox">
          <p>Sale<p>
          <p class="delay">PKR 4,868<p>
        </div>
     
        <div class="card " style="margin-top:80px ;">
          <img src="../../../../assets/home pic/dress3.jfif" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">BLACK GOWN</h5>
            <p class="card-text">3PC Digital Printed Cambric Suit With Lawn Dupatta IPS-22-55 Dp
              SKU W-AP-22-314012 -P
              IN STOCK   <br>PKR 4,868 PKR <del style="color: red;">6,490</del>
               </p>
               <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0 btn-11  " style="background-color: gray; width:210px ; z-index: 15;">SHOP</button>
          </div>
        </div>
      </div>
    </div>
 
      
    
 
  




  <!------------lower cards animation text----------->
  <div class="col ">
    <div class="show">
      <p style="color: white;">NEW COLLECTION!!!<p>
      <p class="del">50% OFF<p>
    </div>
  </div>

  <div class="down">
    <h2 class="title">
      <span class="title-word title-word-1">EXPLORE</span>&nbsp;
      <span class="title-word title-word-2">DESIGNER</span>&nbsp;
      <span class="title-word title-word-3">COLLECTIONS</span>&nbsp;
      <span class="title-word title-word-4">:)</span>
    </h2>
  </div>
  

    
  <!-------------------lower cards------------------>
 
  <div class="row row-cols-1 row-cols-md-4 g-4 mx-4 ">
    <div class="col">
      <div class="card mb-5 mt-4">
        <img src="../../../../assets/home pic/dress4.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fabrics 2 Piece</h5>
          <p class="card-text">      Printed Embroidered Lawn | Top DupattaLearn More<br>
            <span style="color: red;">Rs. 1,914Rs</span>.&nbsp;&nbsp; <del>3,190</del></p>
            <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0   btn-11" style="background-color: gray; ; z-index: 15; ">BUY NOW</button>
              </div>
               </div>
                </div>
              
      
   
       
    <div class="col">
      <div class="card mb-5 mt-4">
        <img src="../../../../assets/home pic/dress5.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fabrics 2 Piece</h5>
          <p class="card-text">  Printed Embroidered Lawn | Top DupattaLearn More<br>
            <span style="color: red;">Rs. 1,914Rs</span>.&nbsp;&nbsp; <del>3,190</del></p>
            <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0 btn-11 " style="background-color: gray; ; z-index: 15; ">BUY NOW</button>
        </div>
      </div>
    </div>
  
   
    <div class="col">
      <div class="card mb-5 mt-4">
        <img src="../../../../assets/home pic/dress-6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fabrics 2 Piece</h5>
          <p class="card-text">Printed Embroidered Lawn | Top DupattaLearn More<br>
            <span style="color: red;">Rs. 1,914Rs</span>.&nbsp;&nbsp; <del>3,190</del>
            </p>
            <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0   btn-11" style="background-color: gray; ; z-index: 15; ">BUY NOW</button>
        </div>
      </div>
    </div>

   


    <div class="col">
      <div class="card mb-5 mt-4">
        <img src="../../../../assets/home pic/dress5.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fabrics 2 Piece</h5>
          <p class="card-text">  Printed Embroidered Lawn | Top DupattaLearn More<br>
            <span style="color: red;">Rs. 1,914Rs</span>.&nbsp;&nbsp; <del>3,190</del></p>
            <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0 btn-11 " style="background-color: gray; ; z-index: 15; ">BUY NOW</button>
        </div>
      </div>
    </div>
  </div>
  </div>
   </div>
  <!--------------lower pic----------------->
  <div class="lowerpic  mb- bg-dark">
  
    <img src="../../../../assets/home pic/pic.png" class="img-fluid" alt="..." >
    
  <!-- <div class="card-img-overlay lowerpicpath ">
    
    <div class="Iam">
  
    <b>
   <div class="innerIam" >
    Fashion is like eating,<br /> 
    you shouldn't stick to the same menu.<br />
    I don't do fashion.<br />
    You can have anything you want in life<br />
    I don't do fashion.
  </div> 

    </b> -->
    <!-- </div>
    <button class=" uperpicbutton " style="z-index: 15; ">VIEW ALL COLLECTION</button>
  </div> -->
  

  



    <!----------------------about our service-------------------------------->



  
<!--    
  <div class="service">
    <div class="title">
        <h2>Our Service</h2>
    </div>
<div class="box">
    <div class="cardthird">
      <i class="fas fa-ring"></i>
        <h5 class="boo">LUXURY FASHION</h5>
       
        <p class="hi">Every website should be build with two primary  goals:Firstly,it needs
            to workacross all devices.secondly,it needs to be fast as possible.
            <p style="text-align: center;">
                <a class="button" href="#">Read More</a>

            </p>
        
    </div>
    <div class="box">
        <div class="cardthird">
          <i class="fas fa-award"></i>
            <h5 class="boo">PREMIUM QUALITY</h5>
           
            <p class="hi">Every website should be build with two primary  goals:Firstly,it needs
                to workacross all devices.secondly,it needs to be fast as possible.
                <p style="text-align: center;">
                    <a class="button" href="#">Read More</a>

                </p>
           
        </div>  
         <div class="box">
            <div class="cardthird">
              <i class="fa-solid fa-headphones"></i>
                <h5 class="boo">PROFESSIONAL SERVICE</h5>
               
                <p class="hi">Every website should be build with two primary  goals:Firstly,it needs
                    to workacross all devices.secondly,it needs to be fast as possible.
                    <p style="text-align: center;">
                        <a class="button" href="#">Read More</a>
    
                    </p>
               
            </div> -->
<!-- </div>
    </div> -->
       
   
 



