
  
  
  <section>
    <div class="waviy " >
        <span style="--i:1">NEW</span>&nbsp;&nbsp;
        <span style="--i:2">COLLECTION</span>&nbsp;&nbsp;
        <span style="--i:3">stitched </span>&nbsp;&nbsp;
        <span style="--i:4">LAWN</span><br>
        <h1 class="mt-5 " style="color: lavender; margin-right: 2px;">Home / All Categories / WOMEN CLOTHING</h1><br><h4 class="mt-4" style="color: red;">New Collection!!!</h4>
       
       </div>
       
  </section>
  
<html>
  
<section>
    <div class="container ">
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="../../../../assets/shop pic/shop1.jpg">
                </div>
                <div class="contentBx">
                    <h3>Printed Lawn<br><span> Top Dupatta</span></h3>
                </div>
            </div>
            <ul class="sci">
                <li>
                    <a href=""><button>+Add To Bag</button></a>
                </li>
                <li>
                    <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
                </li>
                <li>
                    <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="../../../../assets/shop pic/shop2.jpg">
                </div>
                <div class="contentBx">
                    <h3>Dyed Embroidered Polyester Organza<br><span>Top Bottoms Dupatta</span></h3>
                </div>
            </div>
            <ul class="sci">
                <li>
                    <a href=""><button>+Add To Bag</button></a>
                </li>
                <li>
                    <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
                </li>
                <li>
                    <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="../../../../assets/shop pic/shop3.jpg">
                </div>
                <div class="contentBx">
                    <h3>Dyed<br><span>Cambric</span></h3>
                </div>
            </div>
            <ul class="sci">
                <li>
                    <a href=""><button>+Add To Bag</button></a>
                </li>
                <li>
                    <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
                </li>
                <li>
                    <a href="" style="text-decoration: none;" ><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
                </li>
            </ul>
        </div>
    </div>




 <div class="container">
    <div class="card">
        <div class="content">
            <div class="imgBx">
                <img src="../../../../assets/shop pic/shop4.jpg">
            </div>
            <div class="contentBx">
                <h3>Printed Embroidered Lawn<br><span> Top Dupatta</span></h3>
            </div>
        </div>
        <ul class="sci">
            <li>
                <a href=""><button>+Add To Bag</button></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
            </li>
        </ul>
    </div>


    <div class="card">
        <div class="content">
            <div class="imgBx">
                <img src="../../../../assets/shop pic/shop5.jpg">
            </div>
            <div class="contentBx">
                <h3> Dyed Embroidered Dobby<br><span>Mix and Match</span></h3>
            </div>
        </div>
        <ul class="sci">
            <li>
                <a href=""><button>+Add To Bag</button></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
            </li>
        </ul>
    </div>


    <div class="card">
        <div class="content">
            <div class="imgBx">
                <img src="../../../../assets/shop pic/shop6.jpg">
            </div>
            <div class="contentBx">
                <h3>Printed Viscose<br><span>Top Bottoms Dupatta</span></h3>
            </div>
        </div>
        <ul class="sci">
            <li>
                <a href=""><button>+Add To Bag</button></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
            </li>
        </ul>
    </div>


    <div class="card">
        <div class="content">
            <div class="imgBx">
                <img src="../../../../assets/shop pic/dress7.jpg">
            </div>
            <div class="contentBx">
                <h3>Printed Viscose<br><span>Top Bottoms Dupatta</span></h3>
            </div>
        </div>
        <ul class="sci">
            <li>
                <a href=""><button>+Add To Bag</button></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="content">
            <div class="imgBx">
                <img src="../../../../assets/shop pic/shop8.jpg">
            </div>
            <div class="contentBx">
                <h3>Printed Embroidered Lawn <br><span>Top Bottoms Dupatta</span></h3>
            </div>
        </div>
        <ul class="sci">
            <li>
                <a href=""><button>+Add To Bag</button></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">Rs.1,463 &nbsp;<del style="color: gray;">2,090</del></p></a>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="content">
            <div class="imgBx">
                <img src="../../../../assets/shop pic/dress9.jpg">
            </div>
            <div class="contentBx">
                <h3>Printed Embroidered Mesuri<br><span>Top Bottoms</span></h3>
            </div>
        </div>
        <ul class="sci">
            <li>
                <a href=""><button>+Add To Bag</button></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
            </li>
            <li>
                <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
<div class="card">
    <div class="content">
        <div class="imgBx">
            <img src="../../../../assets/shop pic/shop9.jpg">
        </div>
        <div class="contentBx">
            <h3>Essential Printed Top Bottoms Dupatta<br><span>Top Bottoms</span></h3>
        </div>
    </div>
    <ul class="sci">
        <li>
            <a href=""><button>+Add To Bag</button></a>
        </li>
        <li>
            <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
        </li>
        <li>
            <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
        </li>
    </ul>
</div>



<div class="card">
    <div class="content">
        <div class="imgBx">
            <img src="../../../../assets/shop pic/shop10.jpg">
        </div>
        <div class="contentBx">
            <h3>Dyed Cambric<br><span>Top Bottoms</span></h3>
        </div>
    </div>
    <ul class="sci">
        <li>
            <a href=""><button>+Add To Bag</button></a>
        </li>
        <li>
            <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
        </li>
        <li>
            <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
        </li>
    </ul>
</div>



<div class="card">
    <div class="content">
        <div class="imgBx">
            <img src="../../../../assets/shop pic/shop11.jpg">
        </div>
        <div class="contentBx">
            <h3>Printed Lawn<br><span>Top Bottoms</span></h3>
        </div>
    </div>
    <ul class="sci">
        <li>
            <a href=""><button>+Add To Bag</button></a>
        </li>
        <li>
            <a href="" style="text-decoration: none;"><p style="color: red;">50% off</p></a>
        </li>
        <li>
            <a href="" style="text-decoration: none;"><p style="color: red;">Rs.2,514 &nbsp;<del style="color: gray;">2,090</del></p></a>
        </li>
    </ul>
</div>

</div>
</section>
</html>