<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  

  
<html>
  <div class="back-video" >
   
    <video  autoplay loop muted plays-inline   class="od-VideoCanvas-video">
        <source src="../../../../assets/unstitched pic/pexels-pnw-production-9218088.mp4" type="video/mp4" width="100%" >
    </video>
  </div>
  

  <section>
    <div class="down">
      <h2>Unstitched lawn </h2>
      <h2>Unstitched lawn </h2>
      
    </div>
  </section>
<body>
<div class="container ">
 
    <div class="card ">
      <div class="imgBx">
        <img src="../../../../assets/unstitched pic/no1.jpg" alt="">
      </div>
      <div class="details">
        <div class="content">
          <h2 style="color: white;">Jacquard Shirt 3.13<br>
            <span>Founder of LoremIpsum</span>
          </h2>
          <ul>
          
            <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
           
          </ul>
          <a href="#">ADD TO CART</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="../../../../assets/unstitched pic/no2.jpg" alt="">
      </div>
      <div class="details">
        <div class="content">
          <h2 style="color: white;">Yarn Dyed Dupatta<br>
            <span>Founder of LoremIpsum</span>
          </h2>
          <ul>
           
            <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
            
          </ul>
          <a href="#">ADD TO CART</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="../../../../assets/unstitched pic/no3.jpg" alt="">
      </div>
      <div class="details">
        <div class="content">
          <h2 style="color: white;">Cambric Trouser<br>
            <span>Founder of LoremIpsum</span>
          </h2>
          <ul>
            
            <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
      
          </ul>
          <a href="#">ADD TO CART</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="../../../../assets/unstitched pic/no4.jpg" alt="">
      </div>
      <div class="details">
        <div class="content">
          <h2 style="color: white;">Soak fabric <br>
            <span>Founder of LoremIpsum</span>
          </h2>
          <ul>
            
            <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
        
          </ul>
          <a href="#">ADD TO CART</a>
        </div>
      </div>
    </div>



    <div class="card">
        <div class="imgBx">
          <img src="../../../../assets/unstitched pic/no5.jpg" alt="">
        </div>
        <div class="details">
          <div class="content">
            <h2 style="color: white;"> Embroidered Lawn<br>
              <span>Founder of LoremIpsum</span>
            </h2>
            <ul>
              
              <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
            
            </ul>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../assets/unstitched pic/no6.jpg" alt="">
        </div>
        <div class="details">
          <div class="content">
            <h2 style="color: white;">3 Piece Embroidered<br>
              <span>Founder of LoremIpsum</span>
            </h2>
            <ul>
             
              <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
             
            </ul>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../assets/unstitched pic/no7.jpg" alt="">
        </div>
        <div class="details">
          <div class="content">
            <h2 style="color: white;">Plain lawn<br>
              <span>Founder of LoremIpsum</span>
            </h2>
            <ul>
             
              <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
              
            </ul>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../assets/unstitched pic/no8.jpg" alt="">
        </div>
        <div class="details">
          <div class="content">
            <h2 style="color: white;">dupatta pallu<br>
              <span>Founder of LoremIpsum</span>
            </h2>
            <ul>
              
              <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
              
            </ul>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../assets/unstitched pic/no9.jpg" alt="">
        </div>
        <div class="details">
          <div class="content">
            <h2 style="color: white;">Embroidered poly<br>
              <span>Founder of LoremIpsum</span>
            </h2>
            <ul>
             
              <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
             
            </ul>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../assets/unstitched pic/no10.jpg" alt="">
        </div>
        <div class="details">
          <div class="content">
            <h2 style="color: white;"> lawn sleeves<br>
              <span>Founder of LoremIpsum</span>
            </h2>
            <ul>
              
              <li><a href="#">30% OFF</a><br><p style="color: white;" class="mt-3">Rs.3,870.00</p></li>
             
            </ul>
            <a href="#">ADD TO CART</a>
          </div>
        </div>
      </div>
      
  </div>
 



</body>
</html>