
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<!-- 
<div>
  <nav class="navbar navbar-expand-lg navbar-light   navbar-fixed-top " style="background-color: #242333; ">
    <div class="container-fluid">
      <a class="navbar-brand logo " routerLink="/home" style="color: #808080;"><span style="color:  #D2042D ;">E-</span>COMMERCE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color:#2E8BC0;"  >
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item ">
            <a class="nav-link active " routerLink="/home"  style="color: white;" >Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/shop">shop</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="/contact-us">Contat Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="/about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ManagementModule/admin-login"><button class="btn btn-light" style="color: black; background-color: #808080;"> Sign-In/Login-In</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div> -->
  








 
<div class="container-fluid w-100">
<nav class="navbar navbar-expand-lg navbar-light  shadow-lg fixed-top navbee w-auto " style="color: #ff5e14;">
  <div class=" container" >
    <a class="navbar-brand px-3 " routerLink='/home'  style="color:white ;"><i class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;<span style="color: #ff5e14;" >Stay</span>-Confident</a>
    <button    class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="position-relative  ">
    <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
        <li class="nav-item  basic-4 mt-1 px-3">
          <a class="nav-link active" aria-current="page" routerLink='/home' style="color:white ;" >Home</a>
        </li>
        <li class="nav-item  basic-4   mt-1 px-3 ">
          <a class="nav-link active" aria-current="page" routerLink='/shop'  style="color:white ;">Shop</a>
        </li>
        <li class="nav-item   basic-4  mt-1 px-3">
          <a class="nav-link active" aria-current="page" routerLink='/Unstitched'  style="color:white ;">Unstitched</a>
        </li>
        <li class="nav-item basic-4  mt-1 px-3">
          <a class="nav-link active" aria-current="page" routerLink='/reviews' style="color:white ;">Reviews</a>
        </li>
        <li class="nav-item b basic-4   mt-1 px-3">
          <a class="nav-link active" aria-current="page" routerLink='/collection' style="color:white ;">Collection</a>
        </li>
         
        <li class="nav-item ">
          <a class="nav-link active px-3" aria-current="page" routerLink='/login' >
            <button class="btn mt-4-md mt-4-lg text-light btn-outline-dark btn-lg border-0 m me-2 " type="submit" style="background-color: #ff5e14;">Login/SignUp</button>
          </a>
        </li>
      </ul>  
  </div>
  </div>
</div>
</nav>

</div>
       
    
     
    