

<div class="container-fluid w-100">
<nav class="navbar navbar-expand-lg navbar-light  shadow-lg fixed-top navbee " style="color: #ff5e14;">
  <div class=" container" >
    <a class="navbar-brand px-3 " href="#" style="color:white ;"><i class="fa-solid fa-person-dress-burst" ></i>&nbsp;&nbsp;<span style="color: #ff5e14;" >Stay</span>-Confident</a>
    <button    class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="position-relative  ">
    <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
        <li class="nav-item basic-4 mt-1 px-3">
          <a class="nav-link active" aria-current="page" href="#" style="color:white ;" >Home</a>
        </li>
        <li class="nav-item basic-4 mt-1 px-3 ">
          <a class="nav-link active" aria-current="page" href="#" style="color:white ;">Shop</a>
        </li>
        <li class="nav-item basic-4 mt-1 px-3">
          <a class="nav-link active" aria-current="page" href="#" style="color:white ;">Shirt</a>
        </li>
        <li class="nav-item basic-4 mt-1 px-3">
          <a class="nav-link active" aria-current="page" href="#" style="color:white ;">Reviews</a>
        </li>
        <li class="nav-item basic-4  mt-1 px-3">
          <a class="nav-link active" aria-current="page" href="#" style="color:white ;">Collection</a>
        </li>
         
        <li class="nav-item ">
          <a class="nav-link active px-3" aria-current="page" href="#">
            <button class="btn mt-4-md mt-4-lg text-light btn-outline-dark btn-lg border-0 m me-2 " type="submit" style="background-color: #ff5e14;">Login/SignUp</button>
          </a>
        </li>
      </ul>  
  </div>
  </div>
</div>
</nav>

</div>
       
   
     
    