<br>
<br>
<br>


<body>
<div class="n00je7tq arfg74bv qs9ysxi8 k77z8yql i09qtzwb n7fi1qx3 b5wmifdl hzruof5a pmk7jnqg j9ispegn kr520xx4 c5ndavph art1omkt ot9fgl3s" data-visualcompletion="ignore">
<p style="text-align: center;"><span> </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"></span></p>
<p style="text-align: center;"> </p>

<h3 style="text-align: center;" class="mt-4">
<img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto;">Always very nice designed dresses our wardrobe</h3>
<p style="text-align: center;"><span>— Vesal A </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">—</span></p>

<p style="text-align: center;"> </p>
<h4 style="text-align: center;">
<img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto;">Hi, I must appreciate the Customer Service of Hola Amor. They are very responsive &amp; guide very well. I received my dress today - really liked the packing. The dress was as shown in the pictures.<br>Thank you 🙂</h4>
<p style="text-align: center;"><span>— Bushra Zaman </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">—</span></p>
<p style="text-align: center;"> </p>
<h3 style="text-align: center;">
<img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto;">So i ordrd fr themmm like a week agooo<br>Obviously i ws confusedddd abt it n ws praying to hv something nicee But woooow whn i got my package i ws literally in shockkk Like frm packing to fabric to cutssss everything was just tooo perfectttt. I must say they really know dt each customer is important n how to make them special<br>Thnk u n will obviously shop againn sooonest</h3>
<p style="text-align: center;"><span>— Bushra Rehman </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">—</span></p>
<p style="text-align: center;"> </p>
<h3 style="text-align: center;">
<img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto;">Best best fabric n beautiful dress 😍I love it inshah Allah wil shop again ♥️</h3>
<p style="text-align: center;"><span>— Awan Nazii </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">—</span></p>
<p style="text-align: center;"> </p>
<h3 style="text-align: center;">
<img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto;"><span>Absolutely love the attires of hola amor and it was a pleasure Collaborating with them</span><span> The quality of their dress fabric is excellent and the color are very heart throbbing </span>
</h3>

<div style="text-align: center;">
<span>— Barirah Kazi </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">—</span>
</div>
<h3 style="text-align: center;">
<span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><br></span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><br></span><img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto;">The designs are amazing, the team is great and the service is superb! I highly recommend Hola Amor! </h3>
<div style="text-align: center;">
<span>— Gab Riella </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">—<br><br><br></span>
</div>

<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: -39px;"></div>
<h3 style="text-align: center;" class="mt-4">It was my first experience but everything was beyond my expectations MashaAllah  dress was so beautiful and packing was also very beautiful</h3>
<div style="text-align: center;">
<span>— Mariam Ali </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">—<br><br><br><img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: -39px;"></span>
</div>
<h3 style="text-align: center;" class="mt-4">Love my dress. Exactly as pictured and such good quality arrived earlier than expected what's not to love? I must say I was delighted with the service. Brilliant considering the time of year!</h3>
<div style="text-align: center;">
<span>— Gul Sam </span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">—<br><br></span>
</div>
<div style="text-align: center;"> </div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: -39px;"></div>
<h3 style="text-align: center;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><span>After seeing it, WOW! Quiet impressing work, Love the packing and love the out fit Totally in love with your service - thanks alot</span></span></h3>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div style="text-align: center;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><span>— Aeliya —<br><br></span></span></div>
<div style="text-align: center;"> </div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="margin-bottom: -39px;"></div>
<h3 style="text-align: center;">
<span>Amazing experience! Great designs </span><span> The packing felt so wholesome. I love Hola Amor! Would recommend to everyone </span>
</h3>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div id="charmap-char-big-big" style="text-align: center;">— <span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu">Maya Abad —<br><br></span></span>
</div>
<div style="text-align: center;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"></span></span></div>
<div style="text-align: center;"> </div>
<div style="text-align: center;">
<meta charset="utf-8">
<meta charset="utf-8">
</div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="margin-bottom: -39px;"></div>
<h3 style="text-align: center;" class="mt-4"><span>Fun, affordable FASHION!!</span></h3>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div style="text-align: center;"><span>— Jessica Barish<span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"> —<br><br></span></span></div>
<div style="text-align: center;"> </div>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="margin-bottom: -39px;"></div>
<div style="text-align: center;"><meta charset="utf-8"></div>
<h3 style="text-align: center;" class="mt-4">
<span>Quality was excellent and the paxking superb!</span>  </h3>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div style="text-align: center;">
<span>— Ayub Sarfarz</span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"> —<br><br></span>
</div>
<div style="text-align: center;">  </div>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div style="text-align: center;">
<img src="https://cdn.shopify.com/s/files/1/0422/8094/3779/files/logowithdot_4_480x480.png?v=1608128991" alt="" width="78" height="86" style="margin-bottom: -39px;">
<div style="text-align: center;"><meta charset="utf-8"></div>
<h3  class="mt-4">I really liked the packing and the dress is pretty too</h3>
<div style="text-align: center;"><meta charset="utf-8"></div>
<div style="text-align: center;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><span>— Tahir Shah</span><span> —<strong><br></strong></span></span></div>
