<br>
<br>
<br>


<body>

    <div class="pt-5 ">
        <div class="Iam ">
  
        <b>
       <div class="innerIam " style="margin-left: 10%">
        Fashion should be a form of escapism<br /> 
        What you wear is how you present yourself to the world,<br />
        I don't do fashion.<br />
        make you remember what is beautiful about life<br />
        Fashion you can buy, but style you possess
      </div>
    
        </b>
        <div class="col">
            <div class="showBox" style="margin-top: 13%; margin-left: 2%">
              <p>COMMING SOON!!<p>
              <p class="delay">COMMING SOON!!<p>
            </div>
    </div>
        </div>
        
      
  

<div class="container pt-5">
    <img src="../../../../assets/collection pic/col1.jpg">
    <img src="../../../../assets/collection pic/col2.jpg">
    <img src="../../../../assets/collection pic/col3.jpg">
    <img src="../../../../assets/collection pic/col4.jpg">
    <img src="../../../../assets/collection pic/col5.jpg">
    <img src="../../../../assets/collection pic/col6.jpg">
    <img src="../../../../assets/collection pic/col7.jpg">
    <img src="../../../../assets/collection pic/col8.jpg">
    <img src="../../../../assets/collection pic/col9.jpg">
    <img src="../../../../assets/collection pic/col10.jpg">
    <img src="../../../../assets/collection pic/col11.jpg">
    <img src="../../../../assets/collection pic/col12.jpg">

    <img src="../../../../assets/collection pic/col13.jpg">
    <img src="../../../../assets/collection pic/col14.jpg">
    <img src="../../../../assets/collection pic/col15.jpg">
    <img src="../../../../assets/collection pic/col16.jpg">
  </div>
